<a href="https://colab.research.google.com/github/NikhilTuppad/Python_assignments_practice/blob/main/Tuple_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Tuples**:A tuple in Python is a collection data type used to store multiple values in a single variable.

Key points about tuples

Ordered → elements have a fixed position (indexing works)

Immutable → values cannot be changed after creation

Allows duplicates

Can store different data types

Assignment 1: Creating and Accessing Tuples

In [ ]:
#Create a tuple with the first 10 positive integers. Print the tuple.

tpl = tuple(range(1, 11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Assignment 2: Accessing Tuple Elements

In [22]:

##Print the first, middle, and last elements of the tuple created in Assignment 1.
tpl=(1,2,3,4,5,6,7,8,9,10)
print(f"First element:{tpl[0]}")
print(f"Middle Elemnt:{tpl[len(tpl)//2]}")
print(f"Last element:{tpl[-1]}")

First element:1
Middle Elemnt:6
Last element:10

Assignment 3: Tuple Slicing

In [4]:
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(f"First three elements:{tpl[:3]}")
print(f"Last three elements:{tpl[-3:]}")
print(f"elements from index 2 to 5: {tpl[2:6]}")

First three elements:(1, 2, 3)
Last three elements:(8, 9, 10)
elements from index 2 to 5: (3, 4, 5, 6)

Assignment 4: Nested Tuples

In [7]:
##Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
matrix=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("Matrix:")
for row in matrix:
  print(row)
print(f"Element at second row and third column:{matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column:6

Assignment 5: Tuple Concatenation

In [8]:
##Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tpl1=(1,2,3)
tpl2=(4,5,6)
concatenated=tpl1+tpl2
print(concatenated)

(1, 2, 3, 4, 5, 6)

Assignment 6: Tuple Methods

In [10]:
##Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
tpl=(1,2,2,3,4,4,5,6)
print(f"occurences of 4:{tpl.count(4)}")
print(f"Index of first occurences of 4:{tpl.index(4)}")

occurences of 4:2
Index of first occurences of 4:4

Assignment 7: Unpacking Tuples

In [11]:
##Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tpl=(1,2,3,4,5)
a,b,c,d,e=tpl
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

Assignment 8: Tuple Conversion

In [12]:
##Convert a list of the first 5 positive integers to a tuple. Print the tuple.
lst=[1,2,3,4,5]
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

Assignment 9: Tuple of Tuples

In [13]:
##Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tpl_of_tpls=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

 Assignment 10: Tuple and List

In [14]:
##Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tpl=(1,2,3,4,5)
lst=list(tpl)
lst.append(6)
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

Assignment 11: Tuple and String

In [16]:
##Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

tpl=('n','i','k','h','i','l')
joined_string=''.join(tpl)
print(joined_string)

nikhil

Assignment 12: Tuple and Dictionary

In [17]:
##Create a dictionary with tuple keys and integer values. Print the dictionary.
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

Assignment 13: Nested Tuple Iteration

In [18]:
##Create a nested tuple and iterate over the elements, printing each element.

nested_tpl=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for tpl in nested_tpl:
  for element in tpl:
    print(element)

1
2
3
4
5
6
7
8
9

Assignment 14: Tuple and Set

In [19]:
##Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tpl=(1,2,2,3,4,4,5,6)
unique_set=set(tpl)
print(unique_set)

{1, 2, 3, 4, 5, 6}

Assignment 15: Tuple Functions

In [20]:
##Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def min_in_tuple(tpl):
  return min(tpl)

def max_in_tuple(tpl):
  return max(tpl)

def sum_in_tuple(tpl):
  return sum(tpl)

tpl=(1,2,3,4,5)
print(f"Minimum:{min_in_tuple(tpl)}")
print(f"Maximum:{max_in_tuple(tpl)}")
print(f"Sum:{sum_in_tuple(tpl)}")

Minimum:1
Maximum:5
Sum:15